.container:link {
  text-decoration: inherit;
  color: inherit;
}

.container:visited {
  text-decoration: inherit;
  color: inherit;
}

.container article {
  height: 150px;
  background-color: var(--card-color);
  display: flex;
  padding: 1em;
  gap: 2em; /*Double of padding*/
  align-items: center;
}

.imageContainer {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.prices {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.address {
  display: none;
}

@media (min-width: 700px) {
  .address {
    display: flex;
    text-justify: center;
    width: 200px;
    font-size: 0.8em;
  }
}
